<div class="arrowBack">
      <a href="/events"><i class="fa-solid fa-circle-arrow-left"></i></a>
</div>

<div class="formSignup">
      <form action="/events/edit/{{event._id}}" method="POST">
            <h2 class="titleCS">Edit your event</h2>

            <div class="containerCSE">
                  <input type="text" class="inputCity" name="location" value={{event.location}}>
            </div>

            <h6 class="titleC6">Date & Time</h6>

            <div class="containerCSE">
                  <input type="datetime-local" class="inputBD" name="datetime" value={{event.datetime}}>
            </div>

            <h6 class="titleC6">Max Assisstants</h6>

            <div class="containerCSE">
                  <input class="inputUsersC" type="number" name="maxAssistants" value={{event.maxAssistants}}>
            </div>

            <h6 class="titleC6">Event Description</h6>

            <div class="containerCSE">
                  <input type="text" class="inputUser" name="description"  value={{event.description}}>
            </div>

            <h6 class="titleC6">Select language for event</h6>

            <div class="containerCSE">
                  <select class="select" name="language"/>
                        <option value="Spanish">Spanish</option>
                        <option value="English">English</option>
                        <option value="Catalan">Catalan</option>
                        <option value="French">French</option>
                        <option value="Deutsch">Deutsch</option>
                        <option value="Chinese">Chinese</option>
                        <option value="Italiano">Italiano</option>
                  </select>
            </div>

            <div class="containerCSEB">
                  <button class="createButton" type="submit">Edit event</button>
            </div>
      </form>
      {{#if error}}
      <p style="color: red;" class="errorLC">{{error}}</p>
      {{/if}}
</div>