<h1>Edit your Event</h1>

<div id="form">
  <form action="/events/edit/{{event._id}}" method="POST">
 
    <label>Location</label>
      <input type="text" name="location" value={{event.location}} />
 
    <label>Date-Time</label>
      <input type="date" name="datetime" value={{event.datetime}} />

    <label>Description</label>
      <input type="text" name="description" value={{event.description}} />

    <label>Languages</label>
      <select name="languageSkills" multiple>
            <option value="Spanish">Spanish</option>
            <option value="English">English</option>
            <option value="Catalan">Catalan</option>
            <option value="French">French</option>
            <option value="Deutsch">Deutsch</option>
      </select>

      {{#if error}}
      <p style="color: red;">{{error}}</p>
      {{/if}}
 
    <button type="submit">Edit</button>
 
  </form>
</div>