
<div class="arrowBack">
  <a href="/">
    <img src="/images/arrow-back.png" alt="arrowBack" width="20px">
  </a>
</div>

<div class="allEvents">
  <h1>Events</h1>

    {{#each events}}
    <div>
            <p>
    <a href="/events/{{this._id}}">{{ this.location }}</a>
</p>

<p>
    Date / Time: {{this.datetime}}
</p>

<p>
    Language: {{this.language}}
</p>

<p>
    Participants: 
    {{#each participants}}
    <p>{{this.fullname}}</p>
    {{/each}}
</p>
    </div>
  
{{/each}}
  
</div>

 

