<h1>Events</h1>

{{#each events}}

<p>
    Location: {{this.location}}
</p>

<p>
    Date / Time: {{this.datetime}}
</p>

<p>
    Max Assisstants: {{this.maxAssistants}}
</p>

<p>
    Description: {{this.description}}
</p>

<p>
    Language: {{this.language}}
</p>

<p>
    Participants: {{this.participants}}
</p>


{{/each}}