<h1>Events</h1>

{{#each events}}

<p>
    <a href="/events/{{this._id}}">{{ this.location }}</a>
</p>

<p>
    Date / Time: {{this.datetime}}
</p>

<p>
    Language: {{this.language}}
</p>

<p>
    Participants: {{this.participants}}
</p>


{{/each}}