<div class="arrowBack">
    <a href="/"><i class="fa-solid fa-circle-arrow-left"></i></a>
</div>

<div class="allEvents">
    <h1>Events</h1>

    <div class="scrollmenu">
        <a href="/events/search/Spanish">Spanish</a>
        <a href="/events/search/English">English</a>
        <a href="/events/search/Catalan">Catalan</a>
        <a href="/events/search/French">French</a>
        <a href="/events/search/Deutsch">Deutsch</a>
    </div>

    {{#unless ontimeEvents}}
    <p>No upcoming events</p>
    {{/unless}}
    {{#each ontimeEvents}}
    <div class="eachEvent">

        <div>
            <a href="/events/userDetail/{{event.organiser._id}}">{{event.organiser.fullname}}</a>
            {{#if organiser.imageProfile}}
            <img src="{{ organiser.imageProfile }}" width="60px" height="60px" alt="imageProfile">
            {{else}}
            <i style="width: 25px" class="fa-solid fa-user"> </i>
            {{/if}}
        </div>

        <div class="eachE2">

            <h2 class="dateTime">
                <a href="/events/{{this._id}}">{{this.datetime}}</a>
            </h2>

            <h2 class="pevent">
                <a href="/events/{{this._id}}"><i class="fa-solid fa-location-dot"></i> {{ this.location }}</a>
            </h2>

            <p>
                {{this.language}}
                <br>
                Available Spots: {{this.availableSpots}}
            </p>

        </div>


    </div>

    {{/each}}
</div>


<div class="allEventsExpired">
    <h1>Expired Events</h1>
    {{#unless expiredEvents}}
    <p>No previous events</p>
    {{/unless}}
    {{#each expiredEvents}}
    <div class="eachEventExpired">



        <div>
            <a href="/events/userDetail/{{event.organiser._id}}">{{event.organiser.fullname}}</a>
            {{#if organiser.imageProfile}}
            <img src="{{ organiser.imageProfile }}" width="60px" height="60px" alt="imageProfile">
            {{else}}
            <i style="width: 25px" class="fa-solid fa-user"></i>
            {{/if}}
        </div>

        <div>

            <p class="dateTime">
                iTalked at {{this.datetime}}
            </p>

            <p class="pevent">
            <p>{{ this.location }}</p>
            </p>

            <p>
                Language: {{this.language}}
            </p>

        </div>




    </div>

    {{/each}}
</div>